@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
   margin: 0; 
   font-family: 'Roboto';
}

ul {
    list-style-type: none;
}

.section1 {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.header {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.subsection1 {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 80px;
    gap: 30px;
}

.subheader {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.signup {
    background-color: #3882F6;
    padding: 8px 30px;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    border: none;
}

.imgplaceholder {
    background-color: lightslategrey;
    padding: 80px 100px;
}

.leftsubsection1{
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    gap: 10px;
}

.section2header {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 50px;
}

.shape {
    border-color: #3882F6;
    border-width: 4px;
    border-radius:10px;
    border-style: solid;
    padding: 60px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.shapetext {
display: flex;
text-align: center;
color: #1F2937;
}

.item {
    max-width: 150px;
}




