@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
   margin: 0; 
   font-family: 'Roboto';
}

ul {
    list-style-type: none;
}

.section1 {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.header {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.subsection1 {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around; 
    padding: 80px;
}

.signup {
    background-color: #3882F6;
    padding: 8px 30px 8px 30px;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    border: none;
}




